  body{
    font-family: 'Playfair Display', serif;
    background-color: #0F1035;
    color: #200E3A;
  }
  h1{
    text-align: center;
    font-size: 120px;
    font-weight: 900;
    color: #DCF2F1;
    font-family: 'Bebas Neue', sans-serif;
    margin-bottom: 8px;
  }
  h1>span{
    background-color: #365486;
    padding: 2px 20px;
    border-radius:10px ;
    margin-right: 2px;
    border-radius: 15px 50px;
  }
  .quiz-form{
    height: 500px;
    width: 700px;
    margin: auto;
    border: 2px white solid;
    background-color: #EEF5FF;
    border-radius: 10px;
  }
  .ques{
    width: 650px;
    height: 100px;
    /* background-color: black; */
    padding: 10px;
    margin: auto;
  }
  .ques> h4{
    font-size: 20px;
  }
  .options{
    width: 650px;
    height: 280px;
    /* background-color: black; */
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin: auto;
  }
  .opt{
    width: 650px;
    padding: 15px;
    border: 2px #200E3A solid;
    border-radius: 5px;
    background-color: #0F1035;
    color: #DCF2F1;
    transition-duration: 0.4s;
  }
  .opt:hover{
    color: #EEF5FF;
    background-color: #365486;
  }
  .btn{
    width: 500px;
    height: 50px;
    background-color: #EEF5FF;
    margin: 10px;
    margin-left: 100px;
    font-size: 20px;
    border: 2px solid #0F1035;
    border-radius: 20px;
    color: #0F1035;
    transition-duration: 0.4s;
  }
  .btn:hover{
    color: #DCF2F1;
    background-color: #365486;
    
  }
  button{
    font-size: 16px;
    font-family: 'Playfair Display', serif;
  }
  hr{
    width: 650px;
    
  }